.underlineHover:hover {
  text-decoration: underline;
}

.font {
  /* Tinos is closest to Georgia */
  font-family: 'Tinos';
  color: black;
}

.body {
  margin: 3rem;
  min-height: calc(100vh - 15rem) !important;
}

.h1 {
  font-size: 2rem;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.h2 {
  margin-top: 0.75rem;
  font-size: 1.5rem;
  text-decoration: underline;
  color: rgba(62, 62, 62, 1);
}

.h3 {
  margin-top: 0.75rem;
  font-size: 1rem;
  text-decoration: underline;
  color: rgba(62, 62, 62, 1);
}

.p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.link {
  color: blue;
  text-decoration: underline;
}