@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  .headerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 5rem;
    padding: 0 1rem;
    background-color: #48262F;
    color: white;
    font-size: 2rem;
  }

  .subHeaderRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 1rem;
    background-color: #865964;
    color: white;
    border: 1px solid;
    font-size: 1rem;
  }

  .mainImage {
    height: 5rem;
    width: auto;
    margin: 1rem;
  }

  .closeMenu {
    text-align: right;
    width: 100%;
    padding: 5% ;
  }

  .highlightCurrentPage {
    font-style: italic;
    text-decoration: underline;
  }

  .mainTitle {
    /* EB Garamond is closest to Times new Roman */
    font-family: 'EB Garamond', serif;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .navList {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1rem;
    width: 50%;
  }

  .navListMobile {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    min-width: 40%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    border: 1px solid;
    background-color: #48262F;
    z-index: 100000;
  }

  .navListMobileOverlay {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(124, 124, 124, 0.5);
  }

  .navItem {
    display: block;
    padding: 0 1rem;
  }

  .hamburgerIcon {
    display: none;
  }

  @media screen and (max-width: 992px) {
    .hamburgerIcon {
      display: block;
    }
    .navListMobile {
      display: flex;
    }
    .navList {
      display: none;
    }
    .mainTitle {
      flex: 0 1 auto;
      font-size: 1.5rem;
    }
    .navItem {
      margin-bottom: 1.5rem;
    }
  }
  