@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@200&family=Lato:wght@100&display=swap');

  .headerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 5rem;
    padding: 0 1rem;
    background-color: lightgreen;
    font-size: 2rem;
  }

  .mainImageContainer {
    width: 100%;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .mainImage {
    height: 30rem;
    max-height: 20rem;
    object-fit: contain;
    box-shadow: 20px 20px 20px rgba(124, 124, 124, 0.5);
  }

  @media screen and (max-width: 992px) {
    .hamburgerIcon {
      display: block;
    }
  }
  @media screen and (max-width: 600px) {
    .mainImageContainer {
      flex-direction: column;
    }

    .mainImage {
      margin: 0 auto;
    }
  }
  